default devstructure
timeout 1
label devstructure
  menu label ^Install Ubuntu Server for DevStructure
  kernel /install/vmlinuz
  append  file=/cdrom/preseed/devstructure.seed debian-installer/locale=en_US console-setup/layoutcode=us localechooser/translation/warn-light=true localechooser/translation/warn-severe=true initrd=/install/initrd.gz quiet --
